@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-accent: #222222;
  --color-white: #f0f0f0;
}

body {
  font-family: Helvetica, sans-serif;
  background: #f0f0f0
}

html {
  scroll-behavior: smooth;
}
